.section4 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section4-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section4-title h4 {
    text-transform: uppercase;
    color: rgb(220, 230, 217);
    font-size: 25px;
}

.section4-title h1 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: -20px;
}

.section4-wrapper {
    width: 80%;
    height: 500px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 10px;
}

.item-section4 {
    background-color: rgb(161, 161, 17);
}

@media screen and (max-width: 900px) {
    .section4 {
        height: 100%;
        width: 100%;
    }
    .section4-wrapper {
        width: 80%;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 250px);
    }
}

@media screen and (max-width: 570px) {
    .section4-wrapper {
        width: 80%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 300px);
    }
}