.section2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
}

.section2-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section2-title h4 {
    text-transform: uppercase;
    color: rgb(220, 230, 217);
    font-size: 25px;
}

.section2-title h1 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: -20px;
}

.section2-body {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.division {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info-section2 {
    margin: 10px;
    width: 380px;
    height: 400px;
    display: grid;
}

.img-section2 {
    width: 500px;
    margin: 10px;
    height: 500px;
}

.img-section2 img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.check {
    font-size: 2.2rem;
    text-align: left;
    color: rgb(9, 10, 77);
}

.division p {
    font-size: 1.2rem;
    font-family: monospace;
}

@media screen and (max-width: 500px) {
    .img-section2 {
        width: 100%;
        margin: 0;
    }
}